body {
  font-family: "Poppins", sans-serif;
  background-color: #F2F2F2;
}

.header-section {
  width: 540px;
  height: 168px;
  margin: auto;
  margin-top: 60px;
  text-align: center;
}

.header-section h1{
  font-size: 36px;
  font-weight: 200;
  color: #4D4F62;
}

.header-section span {
  font-weight: 600;
}

.header-section p {
  font-size: 15px;
  color: #4D4F62;
}

.feature-section {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}

.tower {
  display: flex;
  flex-direction: column;
}

.supervisor,
.team-builder, 
.karma, 
.calculator {
  width: 350px;
  height: 250px;
  background-color: #FFFFFF;
  margin: 17px;
  border-radius: 15px;
  box-shadow: 8px 8px 15px #4D4F62;
}

.feature-section h1 {
  font-size: 20px;
  font-weight: 600;
  color: #4D4F62;
  margin: 30px 0px 0px 30px;

}

.feature-section p {
  font-size: 13px;
  color: #4D4F62;
  margin: 10px 40px 0px 30px;
}

.feature-section img {
  width: 64px;
  height: 64px;
  margin: 50px 30px 60px 220px;
}

.supervisor {
  border-top-style: solid;
  border-top-width: 8px;
  border-top-color: #00C8C8;
}

.team-builder {
  border-top-style: solid;
  border-top-width: 8px;
  border-top-color: #FF637B;
}

.karma {
  border-top-style: solid;
  border-top-width: 8px;
  border-top-color: #FF9100;
}

.calculator {
  border-top-style: solid;
  border-top-width: 8px;
  border-top-color: #377FD2;
}

@media only screen and (max-width: 480px) {
  .header-section {
    margin: 30px 0px 0px 15px;
    width: 311px;
    height: 161px;
  }

  .header-section h1 {
    font-size: 24px;
  }

  .header-section p {
    font-size: 15px;
  }

  .feature-section {
    display: flex;
    flex-direction: column;
  }

  .feature-section {
    margin-top: 20px;
  }

  .supervisor,
  .team-builder, 
  .karma, 
  .calculator {
    width: 311px;
    height: 222px;
    background-color: #FFFFFF;
    margin: 0px 15px 20px -115px;
    border-radius: 15px;
    box-shadow: 8px 8px 15px #4D4F62;
  }

  .feature-section img {
    width: 57px;
    height: 57px;
    margin: 35px 30px 60px 220px;
  }
}